@model DrCleanCare.Models.AddPOViewModel

@{
    ViewBag.Title = "Kinh doanh";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div id="page-wrapper" class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header form-title text-primary"><i class="fa fa-database"></i> @ViewBag.Title</h4>
        </div>
    </div>
    <!-- /.col-lg-12 -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-edit"></i> Cập nhật chi phí
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Edit", "Purchase", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.PurchaseId);
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    @Html.ValidationSummary(true)
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label text-nowrap">Tên chi phí</label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.PurchaseName, new { @class = "form-control", @placeholder = "Nội dung chi", @type = "text", @autofocus = "" })
                                        @Html.ValidationMessageFor(model => model.PurchaseName, null, new { @class = "help-inline" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label text-nowrap">Diễn giải</label>
                                    <div class="col-sm-9">
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Diễn giải", @type = "text", @autofocus = "" })
                                        @Html.ValidationMessageFor(model => model.Description, null, new { @class = "help-inline" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label text-nowrap">Ngày chi</label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.PurchaseDate, new { @class = "form-control", @placeholder = "Ngày chi", @type = "text", @style = "width:140px;" })
                                        @Html.ValidationMessageFor(model => model.PurchaseDate, null, new { @class = "help-inline" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label text-nowrap">Số tiền chi</label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.Amount, new { @class = "form-control text-right", @placeholder = "Số tiền chi", @type = "text", @autofocus = "", @style = "width:140px;" })
                                        @Html.ValidationMessageFor(model => model.Amount, null, new { @class = "help-inline" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label text-nowrap"></label>
                                    <div class="col-sm-9">
                                        <input type="submit" value="Lưu" class="btn btn-sm btn-success" style="width:100px;" />
                                        <input type="reset" value="Nhập lại" class="btn btn-sm btn-success" style="width:100px;" />
                                        @Html.ActionLink("Trở về", "POList", null, new { @style = "width:100px;", @class = "btn btn-primary btn-sm" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/datepicker.css" rel="stylesheet" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.number.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script>

        // set current active menu
        $("#menu-sale").attr("class", "active");

        $(document).ready(function () {
            // setup datetime picker
            $("#PurchaseDate").datepicker({ format: 'dd/mm/yyyy', todayHighlight: true });
            $('#PurchaseDate').on('changeDate', function (ev) { $(this).datepicker('hide') });

            // setup money input
            $("#Amount").focus(function () { $(this).number(true, 0); });
            $("#Amount").focus();
        });
    </script>
}


