@model IEnumerable<DrCleanCare.DAL.ReportOrdersInDebtResult>

@{
    ViewBag.Title = "Công nợ";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div id="page-wrapper" class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header form-title"><i class="fa fa-money"></i> @ViewBag.Title</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover table-bordered">
                <tr class="alert-success">
                    <th class="text-nowrap text-center">STT</th>
                    <th class="text-nowrap text-center">Ngày</th>
                    <th class ="text-nowrap">Số HĐ</th>
                    <th>Tên KH</th>
                    <th class="text-nowrap text-right">Điện thoại</th>
                    <th class="text-nowrap text-right">Tiền hàng</th>
                    <th class="text-nowrap text-right">VAT</th>
                    <th class="text-nowrap text-right">Tổng tiền</th>
                    <th class="text-nowrap text-right">Thanh toán</th>
                    <th class="text-nowrap text-right">Còn nợ</th>
                </tr>
                @{
                    var count = 0;
                    var sum_debt_amount = 0;
                    foreach (var so in Model)
                    {
                        count++;
                        sum_debt_amount += (int)(so.Amount - so.PaidAmount);
                        <tr>
                            <td class="text-center text-nowrap">@count</td>
                            <td class="text-right">@so.OrderDate.ToString("dd/MM/yyyy")</td>
                            <td class="text-center text-nowrap">@so.OrderNo</td>
                            <td>@Html.ActionLink(@so.CustomerName, "Details", "Order", new { id = @so.OrderId }, null)</td>
                            <td class="text-right">@so.Phone</td>
                            <td class="text-right">@so.AmountBT.ToString("#,##0.##")</td>
                            <td class="text-right">@so.VAT.ToString("#,##0.##")</td>
                            <td class="text-right text-danger"><strong>@so.Amount.ToString("#,##0.##")</strong></td>
                            <td class="text-right text-success">@so.PaidAmount.ToString("#,##0.##")</td>
                            <td class="text-right text-warning"><strong>@so.DebtAmount.ToString("#,##0.##")</strong></td>
                        </tr>
                    }
                }
                <tr>
                    <td colspan="9" class="text-right">
                        <span class="text-info"><strong>Tổng cộng:</strong></span>
                    </td>
                    <td class="text-warning text-right">
                        <strong>@sum_debt_amount.ToString("#,##0.##")</strong>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // set current active menu
        $("#menu-sale").attr("class", "active");
    </script>
}
